@use "colors";
@use "font-weights";

$default-font-size: 16px;
$default-font-family: 'Josefin Sans', sans-serif;

body {
    background-color: white;
    color: colors.$grayish-red;
    font-family: $default-font-family;
    font-size: $default-font-size;
    font-weight: font-weights.$regular;
    margin: 0;
}

h1, p {
    margin: 0;
}

header {
    padding: 2rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: font-weights.$bold;
    text-transform: uppercase;
}